@media (max-width: 767px) { 
    .modal {
        max-width: 500px;
    }
}

@media (max-width: 575px) { 
    .main {
        padding: 32px 0 48px;
        min-height: 667px;
    }
    .heading {
        font-size: 1.5rem;
    }
    .tabs {
        width: 300px;
        &__item {
            width: 106px;
        }
        &__btn {
            font-size: 12px;
        }
    }
    .timer {
        width: 300px;
        height: 300px;
        &__wrapper {
            width: 268px;
            height: 268px;
        }
        &__btn-mode {
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 13.125px;
            transform: translateX(13.125px);
        }
    }
    .progress-bar {
        width: 248px;
        height: 248px;
        &__circle {
            cx: 124px;
            cy: 124px;
            transform: rotate(270deg) scale(0.75);
            stroke-width: 7;
        }
    }
    .clock-face {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -4px;
    }
    .modal {
        max-width: 295px;
        &__heading {
            font-size: 20px;
            line-height: 20px;
        }
        &__header {
            padding: 24px 24px 28px;
        }
        &__subheading {
            font-size: 11px;
            line-height: 11px;
            text-align: center;
        }
        &__items {
            flex-direction: column;
            align-items: center;
            height: 136px;
            margin-top: 18px;
        }
        &__field {
            margin-right: 0;
        }
        &__body {
            padding: 24px 24px 40px;
        }
        &__block {
            &_position {
                flex-direction: column;
            }
        }
        &__radio {
            margin-top: 18px;
        }
    }
    .field {
        width: 248px;
        height: 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
        &__input {
            width: 140px;
            height: 100%;
        }
        &__arrows {
            top: 5px;
        }
    }
}