//fonts
$font-kumbhSans: 'Kumbh Sans', sans-serif;
$font-robotoSlab: 'Roboto Slab', sans-serif;
$font-spaceMono: 'Space Mono', sans-serif;

//colors
$background-main: #1E213F;
$background-element: #161932;
$color-timer-one: #F87070;
$color-timer-two: #70F3F8;
$color-timer-three: #D881F8;
$color-text-disabled: #D7E0FF;
$color-clock-face: #D7E0FF;
