@import '../base/variables';

.progress-bar {
    position: relative;
    width: 339px;
    height: 339px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: $color-timer-one;
        }
    }
    &__clock-face {
        position: relative;
        width: 317px;
        height: 317px;
        border-radius: 50%;
        background-color: $background-element;
    }
    &__counter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-kumbhSans;
        font-weight: 700;
        font-size: 100px;
        text-align: center;
        letter-spacing: -5px;
        color: $color-clock-face;
    }
    &__mode {
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        bottom: 80px;
        font-family: $font-kumbhSans;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 15px;
        color: $color-clock-face;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: $color-timer-one;
        }
    }
}