@import '../base/variables';

.progress-bar {
    &__circle {
        stroke: $color-timer-one;
        transform: rotate(270deg);
        transform-origin: 50% 50%;
        transition: stroke-dashoffset 1s;
    }
}