@import '../base/variables';

.timer {
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    border-radius: 50%;
    height: 410px;
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        background: $background-element;
        border-radius: 50%;
        width: 366px;
        height: 366px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__clock-face {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }
    &__btn-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: translateY(19px);
    }
    &__btn-mode {
        display: none;
        border: none;
        background-color: transparent;
        font-family: $font-kumbhSans;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 15px;
        color: $color-clock-face;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        transform: translateX(15px);
        transition: .5s ease-in-out;
        &:hover {
            color: $color-timer-one;
        }
        &.btn_color_two {
            &:hover {
                color: $color-timer-two;
            }
        }
        &.btn_color_three {
            &:hover {
                color: $color-timer-three;
            }
        }
        &.btn-active {
            display: block;
        }
    }
}